<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/logout">Logout</a>
    <a href="/main">Search again!</a>
    <table>
      <tr>
        <th>
          Name
        </th>
        <th>
          Yelp Link
        </th>
      </tr>
      {%for j in joined%}
      <tr>
        <td>
          {{j.name}}
        </td>
        <td>
          <a href="{{j.place_url}}">Visit Me!</a>
        </td>
      </tr>
      {%endfor%}
    </table>
  </body>
</html>
