<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login/Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

  {% load staticfiles %}

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <style media="screen">
    body{
      width:500px;
      border: 1px solid black;
      margin:auto;
      padding: 9px;
    }
    p{
      font-size:10px;
    }
    input{
      display:block;
    }
    b{
      font-size:10px;
      color: red;
    }
  </style>
  </head>
  <body>
    <h1>Registration</h1>
    <form class="w3-container" action="/register" method="post">
      {% csrf_token %}
      Username: <input type="text" name="name" value="">
      Email: <input type="text" name="email" value="">
      Password: <input type="password" name="pass" value="">
      Confirm pw: <input type="password" name="conf_pass" value="">
      <button class="waves-effect waves-light btn teal accent-3"type="submit" name="Submit" value="Register">Register</button>
    </form>
    <b>
    {% for message in messages %}
      {{message}}
    {% endfor %}</b>
    <h1>Login</h1>
    <form class="w3-container" action="/login" method="post">
      {% csrf_token %}
        Email: <input type="text" name="loginemail" value="">
        Password: <input type="password" name="loginpass" value="">
        <button class="waves-effect waves-light btn teal accent-3"type="submit" name="Submit" value="Login">Login</button>
    </form>
  </body>
</html>
