<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Peeling Wild</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <style media="screen">
    body{
      margin: auto;
    }
    .login{
      margin:auto;
      width: 500px;
      height: 500px;
    }
    </style>

  </head>
  <body>
    <div class="login">
    <fieldset>
      <legend>Log in</legend>
      <form action="/login" method="post">
      Username: <input type="text" name="username"><br>
      Password: <input type="text" name="password"><br>
      <button class="waves-effect waves-light btn teal accent-3" type="submit">Submit</button>
    </form>
    </fieldset>
    <a href="#">Don't have account?</a>
  </div>
  </body>
</html>
