<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h4>Feeling Wild</h4>
    <div class="wild">
      <form class="" action="/record" method="post">
        Life Style: <select class="" name="life_style">
          <option value='anything'>Anything goes</option>
          <option value='vegetarian'>Vegetarian</option>
          <option value='vegan'>Vegan</option>
        </select>
      </form>
    </div>
    <h4>I'm a pussy</h4>
    <div class="pussy">

    </div>
  </body>
</html>
