<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src='{% static 'wild/js/preferences.js' %}'></script>
  </head>
  <body>
    <div>
    <h4>Feeling Wild</h4>
    <div class="wild">
      <form class="" action="/wildrecord" method="post">
        {% csrf_token %}
        Life Style: <select class="" name="life_style">
          <option value='anything'>Anything goes</option>
          <option value='vegetarian'>Vegetarian</option>
          <option value='vegan'>Vegan</option>
        </select>
        I am:
        <select class="" name="alcohol">
          <option value='boring'>Boring</option>
          <option value='classy'>Classy</option>
          <option value='trash'>Trashy</option>
          <option value='mess'>A Fucking Mess</option>
        </select>
        <button type="submit"  name="button">Submit</button>
      </form>
      </div>
    </div>
    <div>


    <h4>I'm a pussy</h4>
    <div class="pussy">
      <form class="" action="/record" method="post">
        {% csrf_token %}
        Life Style: <select class="" name="life_style">
          <option value='anything'>Anything goes</option>
          <option value='vegetarian'>Vegetarian</option>
          <option value='vegan'>Vegan</option>
        </select>
        I am:
        <select class="" name="alcohol">
          <option value='boring'>Boring</option>
          <option value='classy'>Classy</option>
          <option value='trash'>Trashy</option>
          <option value='mess'>A Fucking Mess</option>
        </select>
        Rating:
          <select class="" name="rating">
            <option value='1'>1+</option>
            <option value='2'>2+</option>
            <option value='3'>3+</option>
            <option value='4'>4+</option>
          </select>
        Popularity:
          <select class="" name="popularity">
            <option value='high'>Lit(high)</option>
            <option value='medium'>Bumpin(medium)</option>
            <option value='low'>On the come up(low)</option>
          </select>
          <button type="submit" name="button">Submit</button>
      </form>
      </div>
    </div>
  </body>
</html>
